extends layout

block layout-content
  div.View   
    a(class='button' href='/api-docs') Go to api docs
    p Token valid until #{exp}
    p #{token}
    form(method="POST", action="/refrshtoken")
      input(type = "submit", name = "refresh token", value = "refresh token")